:root {
  --color-dark-grey: #24232c;
  --color-grey: #817d92;
  --color-almost-white: #e6e5ea;
  --color-very-dark-grey: #18171f;
  --color-neon-green: #a4ffaf;
  --color-red: #f64a4a;
  --color-orange: #fb7c58;
  --color-yellow: #f8cd65;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--color-very-dark-grey);
}

.container {
  /* background-color: rgb(146, 170, 7); */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  /* background-color: red; */
  width: 33.75rem;
  max-height: 39.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-l {
  font-size: 2rem;
  line-height: 2.6875rem;
  font-weight: bold;
}

.body-text {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: bold;
}

.heading-m {
  font-size: 1.5rem;
  line-height: 1.9375rem;
  font-weight: bold;
}

.app-title {
  color: var(--color-grey);
}

.output {
  background-color: var(--color-dark-grey);
  width: 33.75rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.generated-pass {
  color: var(--color-almost-white);
}

.copy {
  width: 6.375rem;
  display: flex;
  justify-content: space-between;
}

.copy p {
  color: var(--color-neon-green);
  visibility: hidden;
}

.copy img {
  width: 1.3125rem;
  height: 1.5rem;
  color: white;
}

.options {
  background-color: var(--color-dark-grey);
  width: 33.75rem;
  height: 33rem;
}

.char-length {
  /* background-color: blue; */
  height: 5.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.char-length-number {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.6875rem;
}

.char-num {
  color: var(--color-neon-green);
}

.range-div {
  height: 1.75rem;
}

.inputRange {
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--color-neon-green) 50%,
    var(--color-very-dark-grey) 50%
  );
  cursor: pointer;
}

/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background: var(--color-almost-white);
  cursor: pointer;
  border-radius: 50%;
}

.inputRange::-webkit-slider-thumb:hover {
  border: 0.125rem solid var(--color-neon-green);
  background: var(--color-dark-grey);
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 2px solid #333333;
  border-radius: 50px;
  background: #06b6d4;
}

.options {
  padding: 0 2rem;
}

.option1,
.option2,
.option3,
.option4 {
  color: var(--color-almost-white);
  display: flex;
  gap: 1.5rem;
}

.checkbox {
  /* background-color: var(--color-neon-green); */
  background-color: var(--color-very-dark-grey);
  width: 20px;
  height: 1.25rem;
  border: 2px solid var(--color-neon-green);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.checked {
  display: none;
  position: absolute;
  left: 1px;
  top: 3px;
  width: 20px;
  height: 20px;
}

.show-checked {
  display: block;
}

.option-for-password {
  margin-top: 2rem;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accuracy {
  background-color: var(--color-very-dark-grey);
  margin-top: 2rem;
  width: 100%;
  height: 4.5rem;
}

.strength1,
.strength2,
.strength3,
.strength4 {
  width: 0.625rem;
  height: 1.75rem;
  background-color: var(--color-yellow);
}

.accuracy {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strengths {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.4063rem;
  height: 1.9375rem;
}

.strength-box {
  display: flex;
  gap: 0.5rem;
}

.strength-text {
  color: var(--color-grey);
}

.medium-text {
  color: var(--color-almost-white);
}

.generate-btn {
  background-color: var(--color-neon-green);
  margin-top: 2rem;
  height: 4.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.generate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.6319rem;
}

.generate img {
  width: 0.75rem;
  height: 0.75rem;
}
